<!--
  Generated template for the QuotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>quotes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

    <ion-card *ngFor="let quotesGroup of quotes">
        <ion-card-header>
          Header
        </ion-card-header>
        <ion-card-content>
          The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
        </ion-card-content>
      </ion-card>
      </ion-list>
</ion-content>
