<!--
  Generated template for the TabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tab</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  INI HARUSNYA GAK JALAN cek tab.ts

</ion-content>
